@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: hsl(0, 0%, 100%, 92%);
  --color-gray-dark: hsl(0, 0%, 13%);
  --color-gray-light: hsl(240, 1%, 15%);
  --color-border: hsla(0, 0%, 100%, .1);
  --color-icon: hsl(353.33deg 94.19% 66.27%);
  --color-red: hsl(353.49deg 100% 32.55%);
  --color-row-howver: hsl(0, 0%, 17%);
  --spacing-album-grid: 40px;
  --active-album-size: 20px;
}

@keyframes inAnimation {
  0% { opacity: 0%; }
  100% { opacity: 60%; }
}

@keyframes outAnimation {
  0% { opacity: 60%; }
  100% { opacity: 0%; }
}

@keyframes initGridPointer {
  0% {
    top: 10px;
  }

  100% {
    top: 0px;
  }
}

html {
  background-color: var(--color-gray-dark);
  font-family: -apple-system,
    "system-ui",
    "Apple Color Emoji",
    "SF Pro",
    "SF Pro Icons",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  font-size: 16px;
  color: var(--color-white);
}

.player {
  background-color: brown;
  height: 75px;
}
