:root {
  --color-white: hsl(0, 0%, 100%, 92%);
  --color-gray-dark: hsl(0, 0%, 13%);
  --color-gray-light: hsl(240, 1%, 15%);
  --color-border: hsla(0, 0%, 100%, .1);
  --color-icon: hsl(353.33deg 94.19% 66.27%);
  --color-red: hsl(353.49deg 100% 32.55%);
  --spacing-album-grid: 40px;
  --active-album-size: 20px;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  background-color: var(--color-gray-dark);
  font-family: -apple-system,
    "system-ui",
    "Apple Color Emoji",
    "SF Pro",
    "SF Pro Icons",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  font-size: 16px;
  color: var(--color-white);
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {}

.outer-wrap {
  display: flex;
}

.btn {
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  color: inherit;
  font-size: inherit;
}

.btn-library-nav {
  display: flex;
  align-items: center;
  padding: 7px;
  border-radius: 6px;
  text-align: left;
  margin-bottom: 2px;
}

.btn-library-nav::before {
  --size: 0.8em;

  display: block;
  content: "";
  width: var(--size);
  height: var(--size);
  margin-left: 0.25em;
  margin-right: 0.75em;
  border-radius: 50%;
  background-color: var(--color-icon);
}

.btn-library-nav.--selected {
  background-color: var(--color-border);
}

.sidebar {
  width: 15%;
  padding: 25px;
  background-color: var(--color-gray-light);
  border-right: 1px solid var(--color-border);
}

.library-nav {
  display: flex;
  flex-direction: column;
}

.right-panel {
  flex-grow: 1;
}

.player {
  background-color: brown;
  height: 75px;
}

.album-title {
  font-weight: 400;
  margin: 4px 0;
}

.album-date {
  margin: 0;
}

.track-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 1;
  padding: 6px 8px;
  border-radius: 6px;
}

.track-list-item.-selected {
  color: var(--color-gray-dark);
  /* background-color: var(--color-white); */
  background-color: var(--color-icon);
}
